.banner {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    color: white;
    background-color: rebeccapurple
}

.banner>h1 {
    margin: 5vmax;
    font: 500 2.3vmax "Lucida Sans";

    border-bottom: 1px white;
}


.banner>p {
    font: 500 2vmax "Lucida Sans";
    padding-top: 2vmax;
    border-bottom: 1px white;
}

.banner>a>button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 0.5vmax;
    transition: all 0.5s;
    width: 7vmax;
    font: 500 1vmax "Roboto";
}

.banner>a>button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0%;
    clip-path: polygon(50% 66%, -20% 100%, 120% 100%);
    max-width: 100%;
    padding-top: 5vmax;
}

.homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 2vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
}

.container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;

}

.productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard>img {
    width: 14vmax;
    height: 18vmax;
}

.productCard>div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productCard>div>Span {
    margin: 0.5vmax;
    font: 300 1vmax "Roboto";
}

.productCard>p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCard>span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

    transform: translateY(-1vmax);
}


/* //============================================================================ */



.searchBox {

    padding-bottom: 3vmax;
    display: flex;
    justify-content: center;
    align-items: center;



}

.searchBox>input[type="text"] {

    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax 10vmax;

    outline: none;
    border-radius: 50px;
    font: 300 1.1vmax cursive;
    box-sizing: border-box;

}

.searchBox>input[type="submit"] {

    border-radius: 50px;
    background-color: #ff6347;
    border: none;
    padding: 1vmax 4vmax;
    box-sizing: border-box;
    font: 300 1.1vmax "Roboto";
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}

.searchBox>input[type="submit"]:hover {
    background-color: #ff2904
}

/* //===================================================== */



@media screen and (max-width: 600px) {
    .productCard>p {
        font-size: 1.7vmax;
    }

    .productCard>div {
        margin: 0vmax;
        display: block;
    }

    .productCard>span {
        font-size: 1.5vmax;
    }

    .productCard>div>span {
        margin: 0 0.5vmax;
        font: 300 1vmax "Roboto";
    }

    .searchBox {

        padding-bottom: 3vmax;
        display: flex;
        justify-content: center;
        align-items: center;



    }

    .searchBox>input[type="text"] {

        background-color: white;
        border: none;
        color: rgba(0, 0, 0, 0.637);
        padding: 1vmax 8vmax;

        outline: none;
        border-radius: 50px;
        font: 500 1.5vmax "roboto";
        box-sizing: border-box;

    }

    .searchBox>input[type="submit"] {

        border-radius: 50px;
        background-color: #ff6347;
        border: none;
        padding: 1vmax 4vmax;
        box-sizing: border-box;
        font: 400 1.5vmax "Roboto";
        cursor: pointer;
        color: white;
        transition: all 0.5s;
    }


}